<z-card class="w-full p-10" zTitle="Profile Summary">
  <div class="card profile-card">
    <div class="profile-header">
      <img class="profile-avatar" [src]="'/image.png'" alt="Avatar" />
      <div class="profile-info">
        <h3>{{ (auth.user$ | async)?.firstName + ' ' + (auth.user$ | async)?.lastName }}</h3>
        <p>{{ (auth.user$ | async)?.role }}</p>
      </div>
    </div>
    <div class="profile-details">
      <div class="detail-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.518.76a11.05 11.05 0 004.28 4.28l.759-1.518a1 1 0 011.06-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
          />
        </svg>
        <span>{{ (auth.user$ | async)?.phone }}</span>
      </div>
      <div class="detail-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <span>{{ (auth.user$ | async)?.email }}</span>
      </div>
      <div class="detail-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Joined on {{ (auth.user$ | async)?.dateOfJoining | date : 'dd MMM yyyy' }}</span>
      </div>
    </div>
  </div>
</z-card>
