<div class="leave-requests">
    <h3>Leave History</h3>

    @if (leaveHistory.length == 0) {
      <p class="no-requests">No History of Applying Leaves</p>
    } @else {
      <div class="request-list">
          @for (leave of leaveHistory; let i = $index; track leave.request_Id) {
            <div class="request-content">
              <app-leave-history-item
              [leaveItem]="leave" [index]="i+1"
              ></app-leave-history-item>
            </div>
          }
      </div>
    }
</div>
