<div class="flex gap-2 items-center justify-around overflow-auto">
  <app-leave-summary-chart
    [leaveSummary]="leaveSummary.casual"
    [leaveType]="'Casual'"
  ></app-leave-summary-chart>
  <app-leave-summary-chart
    [leaveSummary]="leaveSummary.sick"
    [leaveType]="'Sick'"
  ></app-leave-summary-chart>
  <app-leave-summary-chart
    [leaveSummary]="leaveSummary.annual"
    [leaveType]="'Annual'"
  ></app-leave-summary-chart>
  <app-leave-summary-chart
    [leaveSummary]="leaveSummary.lieu"
    [leaveType]="'LIEU'"
  ></app-leave-summary-chart>
</div>
