<main>
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2>Login</h2>

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />

      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div class="error">
        @if (loginForm.get('email')?.hasError('required')) {
        <span>Email is required</span>
        } @else if (loginForm.get('email')?.hasError('email')) {
        <span>Enter a valid email</span>
        }
      </div>
      }

      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />

      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <div class="error">
        @if (loginForm.get('password')?.hasError('required')) {
        <span>Password is required</span>
        } @else if (loginForm.get('password')?.hasError('minlength')) {
        <span>Minimum 6 characters</span>
        }
      </div>
      } @if (errorMessage.length > 0) {
      <div class="error">
        <span>{{ errorMessage }}</span>
      </div>
      }

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</main>
